In [3]:
thisset={"aaple","bananna",1,34,23}
print(thisset)

{1, 34, 'aaple', 'bananna', 23}

In [5]:
print("bananna" in thisset)

True

In [7]:
print("bananna" not in thisset)

False

In [10]:
thisset={"apple","banana","cherry"}
thisset.add("nimbu")
print(thisset)

{'apple', 'nimbu', 'banana', 'cherry'}

In [14]:
thisset={"apple","banana","cherry"}
mylist=["kiwi","mongo"]
thisset.update(mylist)
print(thisset)

{'apple', 'kiwi', 'banana', 'cherry', 'mongo'}

In [15]:
thisset={"apple","banana","cherry"}
thisset.remove("cherry")
print(thisset)

{'apple', 'banana'}

In [17]:
thisset={"apple","banana","cherry"}
thisset.remove("kiwi")
print(thisset)

KeyError: 'kiwi'

In [16]:
thisset={"apple","banana","cherry"}
thisset.discard("cherry")
print(thisset)

{'apple', 'banana'}

In [18]:
thisset={"apple","banana","cherry"}
thisset.discard("kiwi")
print(thisset)

{'apple', 'banana', 'cherry'}

In [24]:
thisset={"apple","banana","cherry"}
x=thisset.pop()
print(x)
print(thisset)

apple
{'banana', 'cherry'}

In [34]:
thisset={"apple","banana","cherry"}
del thisset
print(thisset)

NameError: name 'thisset' is not defined

In [26]:
thisset={"apple","banana","cherry"}
x=thisset.clear()
print(x)
print(thisset)

None
set()

In [ ]:
JOINING SET

In [2]:
#union method
set={"x","y","z"}
set1={6,7,8}
set3=set1.union(set)
print(set3)

{'y', 6, 7, 8, 'z', 'x'}

In [5]:
#   |operator
set={"x","y","z"}
set1={6,7,8}
set3=set1 |(set)
print(set3)

{'y', 6, 7, 8, 'z', 'x'}

In [6]:
#join multiple sets
####  with union  ######
set={"x","y","z"}
set1={6,7,8}
set2={"motu","patlu","chotu"}
set3={"king", "queen"}
largest=set.union(set1,set2,set3)
print(largest)



####   with operator   ####
set={"x","y","z"}
set1={6,7,8}
set2={"motu","patlu","chotu"}
set3={"king", "queen"}
largest=set|set1|set2|set3
print(largest)

{'chotu', 'king', 'y', 6, 7, 8, 'queen', 'x', 'motu', 'patlu', 'z'}
{'chotu', 'king', 'y', 6, 7, 8, 'queen', 'x', 'motu', 'patlu', 'z'}

In [13]:
# UPDATE METHOD  
set={"x","y","z"}
set1={6,7,8}
set.update(set1)
print(set)

{'y', 6, 7, 8, 'z', 'x'}

In [9]:
#intersection method 
set={"x","y","z"}
set1={6,7,8,"x"}
set3= set.intersection(set1)
print(set3)

{'x'}

In [10]:
#    & OPERATOR 
set={"x","y","z"}
set1={6,7,8,"x"}
set3=set& set1
print(set3)

{'x'}

In [12]:
# difference method 
set={"x","y","z"}
set1={6,7,8,"x"}
set3=set1.difference(set)
print(set3)




set={"x","y","z"}
set1={6,7,8,"x"}
set3=set.difference(set1)
print(set3)

{8, 6, 7}
{'z', 'y'}

In [15]:
# DICTIONARY
DICT={"NAME":"MARUTHI","MODEL":2019,"LIFE":12}
print(DICT)


# diconaries are used to store data values in key:value pairs #
# its is a collection which is ordered ,changable and do not allow duplicate #

{'NAME': 'MARUTHI', 'MODEL': 2019, 'LIFE': 12}

In [17]:
#accessing dictionary elemets 
print(DICT['NAME'])

MARUTHI

In [19]:
# length of a dictionary 
print(len(DICT))

3

In [21]:
# type of data 
print(type(DICT))

<class 'dict'>

In [24]:
# for duplicate key items 
car_dict={"name":"suzuki","model":"xi","year":2007,"year":2006}
print(car_dict)


car_dict={"name":"suzuki","model":"xi","year":2007,"year":2002}
print(car_dict)

{'name': 'suzuki', 'model': 'xi', 'year': 2006}
{'name': 'suzuki', 'model': 'xi', 'year': 2002}

In [1]:
#get 
car_dict={"name":["suzuki","maruthi","honda"],"model":"xi","year":2007,"year":2006}
x=car_dict.get('name')
print(x)

['suzuki', 'maruthi', 'honda']

In [13]:
d3={"name":"A","year":2023,"pass":"true","marks":[12,34,56]}
# the del keyword dlt the specific key name
del d3["marks"]
print(d3)

{'name': 'A', 'year': 2023, 'pass': 'true'}

In [19]:
# del keyword can also delete the whole dictionary 
del d3

NameError: name 'd3' is not defined

In [25]:
#the clear() method dlt the keywords but the tructure remains s
d3={"name":"A","year":2023,"pass":"true","marks":[12,34,56]}
d3.clear()
print(d3)

{}

In [35]:
# copy the dictionary 
d3={"name":"A","year":2023,"pass":"true","marks":[12,34,56]}
d4= d3.copy()
print(d4)

#####

d5=dict(d4)
print(d5)

{'name': 'A', 'year': 2023, 'pass': 'true', 'marks': [12, 34, 56]}
{'name': 'A', 'year': 2023, 'pass': 'true', 'marks': [12, 34, 56]}

In [3]:
#nested dictionary 
my_family ={
    "child":{"name":"madhav",
             "year":2006
            },
    "child2":{"name":"chirag",
              "year":2008
             },
    "child3":{"name":"bhavika",
              "year":2004
             }
}
print(my_family)
print(my_family["child2"]["name"])

{'child': {'name': 'madhav', 'year': 2006}, 'child2': {'name': 'chirag', 'year': 2008}, 'child3': {'name': 'bhavika', 'year': 2004}}
chirag